@import url("https://fonts.googleapis.com/css2?family=Akshar:wght@400;700&display=swap");

* a {
  text-decoration: none !important;
  color: unset !important;
}

* {
  font-family: "Akshar", sans-serif !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: unset;
  text-decoration: none;
}
.under-navbar a {
  width: 100%;
}
/* #root {
  width: 100% !important;
} */

.under-navbar {
  background-color: #f6f6f6;
}
.sidebar {
  background-color: grey;
}
.add-edit-page form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 40px 0;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 50px 0;
  column-gap: 20px;
  row-gap: 20px;
}
.rec-card {
  display: flex;
  flex-direction: row;
}
.swiper-recomendation {
  height: 300px !important;
  object-fit: contain !important;
}
.products-card-image {
  object-fit: contain !important;
}

.products-card-desc {
  height: 20px;
  overflow: hidden;
}

.product-card-collapse {
  position: relative;
  top: 0;
}
.filters-block {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 25px;
  align-items: center;
}

.filters-block button {
  margin-top: 20px;
}

.my-pagination {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}
.product-details {
  display: flex;
  margin-top: 50px;
}

.product-details img {
  width: 40%;
  height: 500px;
  object-fit: contain;
}

.product-details > div {
  width: 60%;
}

.product-details li {
  margin: 20px 5px;
  font-size: 20px;
  list-style: none;
}

.product-details li strong {
  width: 120px;
  display: inline-block;
}

.product-details h2 {
  font-size: 40px;
  margin-top: 0;
  margin-left: 20px;
}
.product-details-feedback h3 {
  font-size: 24px;
  text-align: center;
}
.product-details-feedback form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.product-details-feedback > div {
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
}

.feedback {
  background-color: bisque;
  border-radius: 10px;
  padding: 10px;
  margin: 15px 0;
}

.feedback h5 {
  font-size: 20px;
  margin: 0;
}
.payment-modal {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}
.cards-icons img {
  width: 30%;
}
.exp-date {
  margin-right: 20px;
}
.payment-data {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  justify-content: space-between;
}

.exp-date {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  justify-content: space-between;
}
.carousel-item img {
  object-fit: contain;
}

.square {
  display: flex;
  width: 286px;
  height: 300px;
  margin: 5px;
  flex-direction: column;
  background-color: #f6f6f6;
  justify-content: space-between;
  /* padding: 30px; */
  /* margin: 10px; */
}
.notsquare {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
  background-color: #f6f6f6;
  width: 579px;
  height: 300px;
  flex-direction: column;
  /* padding: 30px; */

  /* margin: 10px; */
}
.vertical {
  margin: 5px;
  background-color: #f6f6f6;

  width: 286px;
  height: 608px;

  object-fit: contain;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  display: flex;
  flex-direction: column;
  margin: 10px;

  /* margin-left: 40px;
  margin-top: 20px; */
}

.title p {
  margin: 0;
  color: gold;
}

.title h3 {
  margin: 0;
}
.footer {
  background-color: black;
  width: 100%;
  height: 300px;
  margin-top: 80px;
}

.footer h2 {
  color: white;
  margin-top: 20px;
}

.list {
  color: white;
}
.list-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.list li {
  list-style: none;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media all and (max-width: 768px) {
  .under-navbar {
    display: none;
  }
}

@media all and (max-width: 1024px) {
  .collage {
    display: none !important;
  }
}
